body{
    font: 16px Helvetica, arial, freesans, clean, sans-serif;
}

hr {
    display: block;
    clear: both;
    height: 0;
    margin: -10px 0 20px;
    padding: 0;
    border: 0;
    font-family: arial;
    text-align: left;
    font-size: 20px;
    line-height: 1;
}
hr:after {
    content: "\273D \273D \273D \273D \273D \273D \273D \273D \273D\273D \273D \273D \273D \273D\273D \273D \273D\273D \273D \273D ";
    height: 0;			
    letter-spacing: 0.2em;
    color: #E900F9;
}


#contain{
   
}

#taches, #form_taches, #connec{
    /*border: 1px solid #AABAB8;
    border-radius: 5px;*/
    /*text-align: center;*/
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    
    
}

a{
    color:#4183c4;
    text-decoration: none;
}

#date{
    color: grey;
    font-style:italic;
    font-size: 14px;
}

#comments{
    font-size: 12px;
}

.Input1{
    
}


.Input2{
    
}
